/.gradle/
../../UBC/CPEN221/mp1b-anisidvai/.gradle/
gradlew
gradlew.bat
gradle/
settings.gradle
/bin/
/out/
*.class
.DS_Store
.project
.settings/
/build/
build/
.classpath
.idea
.idea/
*/*.xml
vcs.xml
*/.DS_Store
*.iml
